header.header
    h1 Welcome To 2048 World!
    nav
        ul.nav-container
            li.nav-item
                a(href="/") Home
            li.nav-item
                a(href="/rank") Rank
            li.nav-item
                a(href="/logout") LogOut